{% extends 'world/base.html' %}

{% block content %}
        {% if det.published_date %}
                    <a href="{% url 'post_edit' pk=det.pk %}" class="pencil btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                    <div class="publi">
                        <div class="date">
                            Publicado el {{ det.published_date }} por {{ det.author }} 
                        </div>
                    </div>
                    <div class="postpubli">
                       <h1><p>{{ det.title }}</p></h1>
                       <p>{{ det.text|linebreaksbr }}</p>
                    </div>
        {% endif %}
{% endblock %}