{% extends 'world/base.html' %}

{% block content %}
        {% if det.published_date %}
                    <a href="{% url 'post_edit' pk=det.pk %}" class="pencil btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                    <div class="publi">
                        <div class="date">
                            Publicado el {{ det.published_date }} por {{ det.author }} 
                        </div>
                    </div>

                    <div class="postpubli">
                        <!-- <div class="post"> -->
                           
                           <h1>{{ det.title }}   <a  href="{% url 'post_descarga' path=det.upload %}"><span class="glyphicon glyphicon-play-circle"></span></a></h1>
                           <p>{{ det.text|linebreaksbr }}</p>
                           
                        <!-- </div> -->
                    </div>
        {% endif %}
{% endblock %}